<div class="accordion">
    <div class="accordion-group hero-unit">
        <div class="accordion-heading">
            <a class="accordion-toggle" href="javascript:show_robotics_tab();">
            Robotics
            </a>
        </div>
        <div id="robotics_tab" class="accordion-body">
            <div class="accordion-inner">
            <p>
                Here at the reearch and development division of SoftBot, we are always exploring something new to build. We have designed robots that perform a variety of tasks and with astonishing performance. So far we have designed :
                <br>
                <br>
                The "ChopperBot", an efficient self blancing bicycle that charges itself from the sun.
                <br>
                The "SoloBot", a small self balancing one wheeler that can be driven by a single person.
                <br>
                The "SegBot", a self balancing two wheeler similar to the SoloBot but faster.
                <br>
                The "DivBot", an industrial robot for carrying cargo from production to the warehouse.
                <br>
                The "ToyBot", a development robot for enthusiasts looking to program a robot.
                <br>
                <br>
                There are many more relevant robots that we have built, but many more are on the way.
                Our latest adventures include :
                <br>
                <br>
                The "FlyBot", an octocopter that wil be able to lift an average human being.
                <br>
                <br>
                Robotics is just the thing of the present, then what is for the future?
                That is a question that only you can answer, while we make it posible today.
            </p>
            </div>
        </div>
    </div>
    <div class="accordion-group hero-unit">
        <div class="accordion-heading">
            <a class="accordion-toggle" href="javascript:show_software_tab();">
            Software
            </a>
        </div>
        <div id="software_tab" class="accordion-body" style="display:none">
            <div class="accordion-inner">
            <p>
                Our software team is very dynamic and mostly commercial. We develop anything from Web Applications to fully distributed Desktop Applications, may it be in the coud or just in your own backyard. We have much desired expertise in Mobie Applications developemnt with HTML5, giving us an easy way across multiple pltforms.
                <br>
                <br>
                We have designed our own proprietary POS system, "Managable Accountbility" for Windows and it is being used by quiet a few growing companies. The upside to this system apart from simplicity and performance is it's scalability, it can be scaled from zero to infinity as per your requirements.
                <br>
                <br>
                Currently we are working on an intelligent agent that can speak in Bengali and orgnize your daily tasks while sometimes asking you questions in order to serve you better.
                <br>
                <br>
                Find out more about our software by contacting us.
            </p>
            </div>
        </div>
    </div>
    <div class="accordion-group hero-unit">
        <div class="accordion-heading">
            <a class="accordion-toggle" href="javascript:show_solutions_tab();">
            Solutions
            </a>
        </div>
        <div id="solutions_tab" class="accordion-body" style="display:none">
            <div class="accordion-inner">
            SoftBot Systems provide numerous solutions for anything starting from your home to providing you with vehicles that get you to your work in the fastest possible way through the city's traffic. We have products in security, transportation, remote accessibiity and real time simulation services for your work.
            <br>
            <br>
            Please contact us for any further information.
            </div>
        </div>
    </div>
</div>