<div class="hero-unit">
    <h1>Building technology for the future and distributing them in the present</h1>
    <p>"Patience and observation always yields a better result."</p>
    <div class="progress progress-striped active">
    	<div class="bar" style="width: 40%;"></div>
    </div>
    <p>
	    <a class="btn btn-primary btn-large" href="/subscribers/new">
	    	Subscribe to latest updates
	    </a>
    </p>
</div>
