<div class="offset2">
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <%= image_tag("logo.jpg") %>
                <h3>SoftBot Systems</h3>
                <p>Building new technologies</p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <%= image_tag("logo_first.jpg") %>
                <h3>SoftBot Systems</h3>
                <p>Towards the future</p>
            </div>
        </li>
    </ul>
</div>