<div class="span9 offset2 hero-unit">
	<div class="offset1">
		<h1>Subscribers List</h1>
		<% @subscribers.each do |subscriber| %>
		    <div class="subscribers span4 offset1">
		    	<%== subscriber.email %>
		    </div>
		<% end %>
	</div>
</div>